.banner {
    background-color: #ee6e73;
    color: white;
}

.cont {
    margin: 20px;
    padding: 30px;
    /* border-radius: 10px;
    background-color: rgb(242, 242, 242);*/
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.mybox {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
}

.mybox.is-uploading .box__uploading,
.mybox.is-success .box__success,
.mybox.is-error .box__error {
    display: block;
    text-align: center;
}

.choose-file {
    font-size: 150%;
}

.choose-file:hover {
    cursor: pointer;
    color: #000;
}

.mybox.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.mybox.has-advanced-upload .box__dragndrop {
  display: inline;
}

.mybox.is-dragover {
  background-color: #f2f2f2;
}

.result {
    width: 100%;
    margin: 30px;
}

.state-box {
    padding: 10px;
}

.error {
    color: #990000;
    font-weight: bold;
}

.loading {
    color: #b3b300;
    font-weight: bold;
}

.success {
    color: #004d00;
    font-weight: bold;
}

#error_msg.error {
    font-weight: normal;
}
